<nav class="navbar navbar-expand sticky-top navbar-light bg-light">
  <div class="collapse navbar-collapse justify-content-end">
      <ul class="nav">
          <li class="nav-item">
              <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
              <a routerLink="/active" routerLinkActive="active" class="nav-link">Active</a>
          </li>
          <li class="nav-item">
              <a routerLink="/deleted" routerLinkActive="active" class="nav-link">Deleted</a>
          </li>
          <li class="nav-item">
              <a routerLink="/manage" routerLinkActive="active" class="nav-link">Manage</a>
          </li>
      </ul>
  </div>
</nav> 
<router-outlet></router-outlet>
