<div class="user-container card col-lg-12 mb-4 border border-2 {{userData.isDeleted===false? 'border-success': 'border-danger'}}">
    <div class="card-body d-flex flex-column">
        <div class="user-name card-text">
            {{(userData.firstName | FullNameFilter:userData.lastName) | titlecase}} 
        </div>
        <div class="user-btn d-flex flex-row-reverse justify-content-between">
            <button (click)="callback(userData)" class="callback-btn btn btn-sm {{btnText==='Deactivate'? 'btn-danger': (btnText==='Activate'?'btn-success':'btn-primary')}}" >{{btnText}}</button>
            <!-- <button *ngIf="btnText==='Details'" class="edit-btn btn btn-sm btn-warning" (click)="editDetails(userData)">Edit</button> -->
            <ng-container *ngIf="btnText==='Details'" >
                <div id="edit-btn"><button class="btn btn-sm btn-warning" (click)="editDetails(userData)">Edit</button></div>
            </ng-container>
        </div>
    </div>
</div>
   